In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import matplotlib.pyplot as plt

### set the URL for the page we want to scrape

In [2]:
url = "http://books.toscrape.com/index.html"
response=requests.get(url)
html = response.content
scraped = BS(html, 'html.parser')

In [3]:
scraped.find("title")

<title>
    All products | Books to Scrape - Sandbox
</title>

In [4]:
scraped.title

<title>
    All products | Books to Scrape - Sandbox
</title>

access the content without the title tag

In [5]:
scraped.title.text

'\n    All products | Books to Scrape - Sandbox\n'

### just the title (clean)

In [6]:
scraped.title.text.strip()

'All products | Books to Scrape - Sandbox'

In [7]:
scraped.h1

In [8]:
scraped.article.h3.a

In [9]:
scraped.article.h3.a["title"]

'A Light in the Attic'

In [10]:
all_books = scraped.find_all("article")

In [11]:
#title
for book in all_books:
    print(book.h3.a['title'])

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [12]:
#price
for book in all_books:
    price = book.find("p", class_="price_color").text
    print(price)

£51.77
£53.74
£50.10
£47.82
£54.23
£22.65
£33.34
£17.93
£22.60
£52.15
£13.99
£20.66
£17.46
£52.29
£35.02
£57.25
£23.88
£37.59
£51.33
£45.17

In [13]:
#price & title
book
books_info = []
books_title = []
books_price = []

for book in all_books:
    title = book.h3.a['title']
       
    price = book.find("p", class_="price_color").text
    
    
    books_title.append(title)
    books_price.append(price)
    books_info.append({title:price})

### A table to display title and price

In [14]:
#price & title
d = []
book = []
books_info = []
books_title = []
books_price = []

for book in all_books:
    title = book.h3.a['title']
    price = book.find("p", class_="price_color").text
    d.append({
        
        'Book Title':title,
        'Price':price
        
    }
    
    
    )
    
pd.DataFrame(d)

                                           Book Title   Price
0                                A Light in the Attic  £51.77
1                                  Tipping the Velvet  £53.74
2                                          Soumission  £50.10
3                                       Sharp Objects  £47.82
4               Sapiens: A Brief History of Humankind  £54.23
5                                     The Requiem Red  £22.65
6   The Dirty Little Secrets of Getting Your Dream...  £33.34
7   The Coming Woman: A Novel Based on the Life of...  £17.93
8   The Boys in the Boat: Nine Americans and Their...  £22.60
9                                     The Black Maria  £52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99
11                              Shakespeare's Sonnets  £20.66
12                                        Set Me Free  £17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29
14                          Rip it Up and Start Again  £35.02
15  Our Band Could Be Your Life: Scenes from the A...  £57.25
16                                               Olio  £23.88
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59
18                       Libertarianism for Beginners  £51.33
19                            It's Only the Himalayas  £45.17